@font-face {
  font-family: "ArlonBold";
  src: local("ArlonBold"),
    url("../../fonts/Arlon/Arlon-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ArlonRegular";
  src: local("ArlonRegular"),
    url("../../fonts/Arlon/Arlon-Regular.ttf") format("truetype");
}

.plan__card {
  width: 80%;
  height: 400px;
  border: 1px #ccc solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.plan__card-top {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 20px 40px;
  border-bottom: 5px solid red;
}

.plan__card-top h1 {
  font-size: 3em;
  font-family: "ArlonBold";
  font-weight: 900;
  margin: 0 auto;
  color: var(--color-primary);
}

.plan__card-top h2 {
  font-family: "ArlonRegular";
  font-size: 1.2em;
  color: var(--color-grey);
  margin: auto;
}

.plan__card-center {
  background-color: var(--color-grey-lighter);
}

.plan__card .wifi-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--color-dark);
  font-size: 16px;
  padding: 7px 0px;
  font-family: "Roboto";
}

.plan__card .wifi-icon img {
  position: relative;
  width: 21px;
  margin-right: 10px;
}
