@font-face {
  font-family: "ArlonBold";
  src: local("ArlonBold"),
    url("../../fonts/Arlon/Arlon-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "ArlonRegular";
  src: local("ArlonRegular"),
    url("../../fonts/Arlon/Arlon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
    url("../../fonts/Gotham/Gotham-Bold.otf") format("truetype");
}

@font-face {
  font-family: "GothamRegular";
  src: local("GothamRegular"),
    url("../../fonts/Gotham/Gotham-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
    url("../../fonts/Gotham/Gotham-Medium.otf") format("truetype");
}

.plan__card {
  width: 100%;
  height: 100%;
  border: 1px #ccc solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.plan__card-top {
  display: flex;
  flex-direction: column;
  padding: 34px 20px 20px 20px;
  border-bottom: 5px solid red;
}

.plan__card-top h1 {
  font-size: 3em;
  font-family: "ArlonBold";
  font-weight: 900;
  margin: 0 auto;
  color: var(--color-primary);
}

.plan__card-top h2 {
  font-family: "ArlonRegular";
  font-size: 1.2em;
  color: var(--color-grey);
  margin: auto;
}

.plan__card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-lighter);
}

.plan__card-center span {
  margin-top: 10px;
  color: var(--color-dark);
  font-weight: 400;
  text-decoration: underline;
}

.plan__card .wifi-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: var(--color-dark);
  font-size: 16px;
  padding: 7px 0px;
  font-family: "Roboto";
}

.plan__card .wifi-icon img {
  position: relative;
  width: 21px;
  margin-right: 10px;
}

.plan__card-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem 2rem;
  font-family: "GothamBold";
  color: var(--color-dark);
}

.plan__card-bottom h1 {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 2em;
}

.plan__card-bottom span {
  font-family: "GothamMedium";
  font-size: 1.2em;
}

.plan__card-end {
  background-color: blue;
  padding: 0 1rem 1rem 1rem;
}

.plan__card-end a {
  padding: 18px;
  display: block;
  background-color: var(--color-primary);
  color: #fff;
  font-family: "GothamBold";
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
}
