.location__main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.location__map {
  width: 320px;
  height: 320px;
  overflow: hidden;
  display: flex;
  margin: auto;
  font-size: 14px;
}

.location__white {
  display: flex;
  width: 50%;
  height: 100vh;
  background-color: var(--color-light);
}

.location__white__main {
  margin: auto;
  padding: 72px;
}

.location__red {
  display: flex;
  overflow: hidden;
  width: 50%;
  height: 100vh;
  background-color: var(--color-primary);
}
.online_icon {
  left: 72px;
  top: 72px;
  position: absolute;
  width: 50px;
}

h2 {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 48px;
}

p {
  margin-top: 32px;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 18px;
}

b {
  color: var(--color-primary);
}

@media screen and (max-width: 720px) {
  .location__main {
    flex-direction: column;
  }
  .location__white {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }

  .location__white__main {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .location__red {
    display: flex;
    width: 100%;
  }

  .location__map {
    display: flex;
  }

  .online_icon {
    position: relative;
    left: 40px;
    top: 40px;
  }

  h2 {
    font-size: calc(10px + 6.5vw);
  }

  p {
    font-size: calc(8px + 2.5vw);
  }
}
