.location__main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.location__map {
  width: 320px;
  height: 320px;
  overflow: hidden;
  display: flex;
  margin: auto;
  font-size: 14px;
}

.location__white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: white;
}

.location__white__main {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.location__white__main h2 {
  margin: 0;
  display: flex;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 4vw;
}

.location__white__main p {
  margin-top: 20px;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 18px;
}

.location__white__main b {
  color: var(--color-primary);
}
.location__red {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50%;
  height: 100vh;
  background-color: var(--color-primary);
}
.online_icon {
  left: 40px;
  top: 40px;
  position: absolute;
  width: 50px;
}

@media screen and (max-width: 720px) {
  .location__main {
    flex-direction: column;
  }
  .location__white {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
  }

  .location__white__main {
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .location__red {
    display: flex;
    width: 100%;
  }

  .location__map {
    display: flex;
  }

  .online_icon {
    display: flex;
    position: absolute;
    width: 40px;
    left: 8px;
    top: 8px;
  }

  .location__white__main h2 {
    font-size: calc(10px + 4.1vh);
  }

  .location__white__main p {
    font-size: calc(7px + 1.2vh);
  }
}
