::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
}

.carousel {
}

.carousel__inner {
  display: flex;
}

.carousel img {
  width: 80%;
}
