.combo {
  max-width: 1240px;
  background-color: red;
  width: 100%;
  height: 800px;
  background-image: url(../../../assets/images/combo-image-desktop.png);
}

.combo .container {
  position: right;
}

.combo .container img {
}
