.map {
  transition: all 0.2s ease;
  cursor: pointer;
  fill: var(--color-map-red-dark);
  user-select: none;
}

#BR-PA:hover {
  fill: var(--color-primary);
}
#BR-MA:hover {
  fill: var(--color-primary);
}
#BR-PI:hover {
  fill: var(--color-primary);
}
#BR-CE:hover {
  fill: var(--color-primary);
}
