.map {
  cursor: pointer;
  fill: var(--color-map-red-dark);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#BR-PA {
  transition: all 0.2s ease;
}

#BR-MA {
  transition: all 0.2s ease;
}

#BR-PI {
  transition: all 0.2s ease;
}

#BR-CE {
  transition: all 0.2s ease;
}

#BR-PA:hover {
  fill: var(--color-primary);
}
#BR-MA:hover {
  fill: var(--color-primary);
}
#BR-PI:hover {
  fill: var(--color-primary);
}
#BR-CE:hover {
  fill: var(--color-primary);
}
