.address__card {
  padding: 30px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.address__card small {
  color: var(--color-primary);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.address__card h3 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 31.6px;
  font-weight: 600;
  color: var(--color-dark);
}

.address__card p {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  margin-bottom: 20px;
}

.address__info {
  color: var(--color-dark);
}
