.newsletter {
  width: 100%;
  margin: 0 0 40px;
  height: 167px;
}

.newsletter .container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  padding-left: 7rem;
  padding-bottom: 0;
  border-radius: 6px;
  background-color: var(--color-primary);
  height: 100%;
}

.newsletter .container .newsletter_text {
  margin-right: 10px;
}

.newsletter .container .newsletter_emailinput {
}

.newsletter .container small {
  color: white;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 10px;
}

.newsletter .container p {
  color: white;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 1;
}

.newsletter .container img {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: -54px;
}
