.burgericon {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.burgerbar1,
.burgerbar2,
.burgerbar3,
.burgerbar1-active,
.burgerbar2-active,
.burgerbar3-active {
  position: absolute;
  transition: all 0.2s linear;
  width: 25px;
  height: 3px;
  background-color: var(--color-primary);
}

.burgerbar1,
.burgerbar1-active {
  left: 0px;
  top: 4px;
}
.burgerbar2,
.burgerbar2-active {
  left: 0px;
  top: 11px;
}

.burgerbar3,
.burgerbar3-active {
  left: 0px;
  bottom: 4px;
}

.burgerbar1-active {
  transform: translateY(7px) rotate(45deg);
}

.burgerbar2-active {
  background-color: transparent;
}

.burgerbar3-active {
  transform: translateY(-7px) rotate(-45deg);
}
