@font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
    url("../../fonts/Gotham/Gotham-Bold.otf") format("truetype");
}

@font-face {
  font-family: "GothamRegular";
  src: local("GothamRegular"),
    url("../../fonts/Gotham/Gotham-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GothamMedium";
  src: local("GothamMedium"),
    url("../../fonts/Gotham/Gotham-Medium.otf") format("truetype");
}

.background {
  position: absolute;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  border-radius: 10px;
}

.plans {
  margin: auto;
  padding: 50px 0;
}

.plans .container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  padding: 0 3rem;
  margin-bottom: 60px;
}

.plans__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plans__title {
  color: var(--color-dark);
  margin-top: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 16px;
}

.plans__subtitle {
  font-family: Roboto;
  font-weight: 300;
  color: var(--color-grey);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plans__subtitle a {
  cursor: pointer;
  text-decoration: none;
  padding: 12px 40px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-dark);
  transition: background 0.4s;
}

.plans__subtitle a:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.plans__container {
  margin: auto;
  max-width: 1240px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 23.2%);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.new_services_container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 5em;
}

.new_services_container .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.new_services_container .text h2 {
  color: var(--color-dark);
  font-family: "GothamBold";
  font-size: 2rem;
  margin-bottom: 0px;
}

.new_services_container .text p {
  color: var(--color-text);
  font-family: "GothamRegular";
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.new_services_container img {
  margin: auto;
  width: 49%;
}

@media (max-width: 1250px) {
  .plans__container {
    grid-template-columns: repeat(3, 30%);
  }

  .new_services_container {
    padding: 0 20px;
  }
}

@media (max-width: 950px) {
  .plans__container {
    grid-template-columns: repeat(2, 46%);
  }
}

@media (max-width: 900px) {
  .plans .container {
    padding: 0 0rem;
  }

  .plans__title {
    margin-bottom: 0px;
  }

  .plans__header {
    width: auto;
    margin: auto;
  }

  .plans__subtitle {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plans__subtitle p {
    margin-bottom: 30px;
  }

  .new_services_container {
    flex-direction: column;
  }
  .new_services_container img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .plans__container {
    grid-template-columns: repeat(1, 90%);
  }

  .plans__header {
    width: 95%;
  }

  .plans__title {
    font-size: 29px;
  }
}
