.background {
  position: absolute;
  top: 0px;
  background-color: white;
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  border-radius: 10px;
}
