@font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'),
    url('../../fonts/Gotham/Gotham-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'GothamRegular';
  src: local('GothamRegular'),
    url('../../fonts/Gotham/Gotham-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamMedium';
  src: local('GothamMedium'),
    url('../../fonts/Gotham/Gotham-Medium.otf') format('truetype');
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  border-radius: 10px;
}

.main-home {
  background-color: var(--background);
}

.page-home {
  padding: 0 20px;
  margin: auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.plans {
  width: 100%;
  padding: 50px 0;
}

.plans .container {
  display: flex;

  margin-bottom: 60px;
}

.plans__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.plans__title {
  color: var(--text);
  margin-top: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 16px;
}

.plans__subtitle {
  font-family: Roboto;
  font-weight: 300;
  color: var(--dark-text);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plans__subtitle a {
  cursor: pointer;
  text-decoration: none;
  padding: 12px 40px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  color: var(--text);
  transition: background 0.4s;
}

.plans__subtitle a:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.plans__container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 23.2%);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.new_services_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 5em;
}

.new_services_container .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text);
}

.new_services_container .text h2 {
  font-family: 'GothamBold';
  font-size: 2rem;
  margin-bottom: 0px;
}

.new_services_container .text p {
  font-family: 'GothamRegular';
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.new_services_container img {
  margin: auto;
  width: 49%;
}

.about-mode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  align-items: flex-start;
  margin-bottom: 64px;
}

@media screen and (max-width: 1200px) {
  .about-mode {
    margin-bottom: 0px;
    grid-template-columns: auto;
  }
}

@media (max-width: 1290px) {
  .plans__container {
    grid-template-columns: repeat(3, 30%);
  }
}

@media (max-width: 950px) {
  .plans__container {
    grid-template-columns: repeat(2, 47%);
  }
}

@media (max-width: 900px) {
  .plans__title {
    margin-bottom: 0px;
  }

  .plans__subtitle {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .plans__subtitle p {
    margin-bottom: 30px;
  }

  .new_services_container {
    flex-direction: column;
  }
  .new_services_container img {
    width: 100%;
  }
}

@media (max-width: 625px) {
  .plans__container {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 600px) {
  .plans__title {
    font-size: 29px;
  }
}

@media screen and (max-width: 500px) {
  .page-home {
    padding: 12px;
  }
}
