.mobile__navbar-modal {
  top: 149px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #373435;
  z-index: 10;
  transition: left 0.2s;
  overflow-y: scroll;
}

.mobile__navbar-modal .list {
  position: relative;
  overflow-y: scroll;
  height: 470px;
  padding: 21px 10%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}

.mobile__navbar-modal button {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  width: fit-content;
  height: 35px;
  margin: 0;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.mobile__navbar-modal .mobile__navbar-modal .dark__button {
  background-color: white;
  color: var(--color-dark);
}

.mobile__navbar-modal .dark__button img {
  margin-right: 5px;
  width: 13px;
}
