.combo {
  display: flex;
  width: 100%;
  margin: 120px 0 50px;
}

.combo .container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  height: 160px;
  border-radius: 12px;
  background-position: right;
  background-size: cover;
  background-image: url(../../../assets/images/combo-image-desktop.png);
}

.combo__text {
  margin-right: 60px;
  color: white;
}
.combo__text h3 {
  margin-top: 0px;
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 600;
  margin-bottom: 0px;
}

.combo__text p {
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
}

.combo__button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  transition: background 0.4s, color 0.4s;
}

.combo__button:hover {
  color: var(--color-primary);
  background-color: white;
}

@media (max-width: 1200px) {
  .combo .container {
    height: 244px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .combo__text h3 {
    margin-top: 8px;
  }

  .combo__text p {
    max-width: 310px;
    margin-bottom: 24px;
  }
}

@media (max-width: 900px) {
  .combo .container {
    height: 300px;
    padding-top: 20px;
    justify-content: start;
    background-position: bottom;
    background-image: url(../../../assets/images/combo-image-mobile.png);
  }

  .combo__text h3 {
    margin-top: 20px;
    font-size: 36px;
  }

  .combo__text p {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .combo .container {
  }
}

@media (max-width: 600px) {
  .combo .container {
    height: 340px;
  }

  .combo__text h3 {
    font-size: 30px;
  }
}
