.combo {
  width: 100%;
  max-width: 1240px;
  margin: 120px auto 50px;
}

.combo .container {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  color: white;
}

.combo .container img {
  margin: auto;
  border-radius: 12px;
  width: 100%;
}

.combo__text {
  padding: 0 20px;
  top: 10px;
  position: absolute;
}

.combo .container h3 {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 600;
  margin-bottom: 16px;
}

.combo .container p {
  display: flex;
}
