.location__options__container {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 100%;
}

.location__options__selector {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 82%;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-name: hide-desktop;
}

.location__search {
  display: inline-flex;
}

.location__search input {
  outline: none;
  font-family: Montserrat;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-light);
  font-size: 18px;
  font-weight: 400;
  color: var(--color-light);
  padding-bottom: 16px;
}

.location__search img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-bottom: 16px;
  margin-right: 26px;
}

::placeholder {
  color: var(--color-light);
}

.location__options {
  overflow-y: scroll;
  height: 83%;
  overflow-x: hidden;
  display: block;
  width: 80%;
  overflow: auto;
  margin-top: 48px;
  margin-left: 10px;
  display: block;
  color: var(--color-light);
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

.location__options li {
  color: var(--color-light);
  margin-bottom: 28px;
}

.location__options::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* Track */
.location__options::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--color-secondary);
}

@keyframes hide-desktop {
  from {
    margin-left: 50vw;
  }

  to {
    margin: 0px;
  }
}

@keyframes hide-mobile {
  from {
    margin-left: 100vw;
  }

  to {
    margin: 0px;
  }
}

@media screen and (max-width: 720px) {
  .location__options__selector {
    top: 18px;
    animation-name: hide-mobile;
    height: 65%;
  }
  .location__options {
    margin-top: 24px;
  }
}
