.contact small {
  color: var(--color-primary);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.contact h3 {
  margin-top: 4px;
  font-size: 36px;
  margin-bottom: 21.6px;
  font-weight: 600;
  color: var(--color-dark);
}
