.contact {
  margin: 0 0 60px;
}

.contact small {
  color: var(--color-primary);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.contact h3 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 31.6px;
  font-weight: 600;
  color: var(--text);
}

.contact .help__grid {
  height: 180px;
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  grid-column-gap: 20px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .contact .help__grid {
    height: 138px;
    width: 100%;
    grid-column-gap: 32px;
  }
}
