.navbar {
  position: fixed;
  display: block;
  width: 100%;
  background-color: var(--color-light);
}

.container {
  max-width: 1240px;
  font-weight: 300;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.navbar__top-left {
  display: flex;
  gap: 2rem;
  height: 38px;
  align-items: center;
  justify-content: flex-start;
}

.navbar__top-right {
  display: flex;
  flex-direction: row;
}

.navbar__top-right img {
  margin: auto;
  margin-left: 20px;
  height: 8px;
}

/* todo */
