.footer {
  margin-top: 60px;
  width: 100%;
  height: 499px;
  background-color: #373435;
}

.footer .container {
  margin: auto;
  max-width: 1240px;
  box-sizing: border-box;
  padding: 40px 0px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-container__columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  grid-column-gap: 20px;
}

/* first column */

.footer-social_column {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer-social_column .logo {
  margin-left: 8px;
}

.footer-social_column .logo img {
  margin: auto;
  display: block;
  width: 104px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 24px;
}

.footer-social_column .logo p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.footer-social_column .download {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 8px;
}

.footer-social_column .download img {
  display: block;
}

.footer-social_column .social-media {
  display: flex;
  gap: 10px;
}

.footer-social_column .social-media .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: var(--color-primary);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: transform 0.5s;
}

.footer-social_column .social-media .social-icon:hover {
  transform-origin: 50% 50%;
  transform: rotate(8deg);
}

/* second column */

.footer-options__container ul {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-options__container h2 {
  font-size: 16px;
  font-synthesis: 700;
  color: #fff;
  margin: 0;
}

.footer-options__container li {
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
}

/* third column */

.footer-contact_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact_item {
  display: inline-flex;
  color: white;
  width: 100%;
  border: 1px white solid;
  border-radius: 6px;
}

.footer-contact_item a {
  padding: 12px 0px;
  margin: auto;
}

.footer-container__copyrights {
  width: 100%;
  border-top: 1px #666 solid;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 45px;
  color: white;
  font-size: 14px;
}

.footer-container__copyrights a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* screen size */

@media screen and (max-width: 1200px) {
  .footer {
    display: flex;
    height: fit-content;
    box-sizing: border-box;
  }

  .footer .container {
    width: 100%;
    margin-left: 10px;
  }

  .footer-contact_item {
    box-sizing: border-box;
    margin: auto;
    width: 95%;
  }

  .footer-container__columns {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .footer-container__columns .download {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  .footer-social_column .logo {
    margin-left: 0;
  }

  .footer-social_column .logo img {
    margin-left: 0;
  }

  .footer-social_column .social-media .social-icon {
    width: 40px;
    height: 40px;
    font-size: 19px;
  }

  .footer-options__container ul {
    margin: 20px 0;
    padding-left: 0;
  }
}
