.plan__button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2px auto;
  background-color: var(--background);
  border-bottom: solid #0004 2px;
  border-radius: 0 0 10px 0;
  padding: 8px 12px;
  width: 80%;
  height: 32px;
}

.plan__button img {
  width: 8em;
  padding: 0px 4px;
  max-width: 100%;

  filter: drop-shadow(1px 0 0 #fff) drop-shadow(-1px 0 0 #fff)
    drop-shadow(0 -1px 0 #fff) drop-shadow(0 1px 0 #fff);
}

.plan__button .caret-right {
  color: #aaaaaa;
}
