:root {
  background: white;
  font-family: 'Montserrat', sans-serif;

  --color-dark: #373435;
  --color-light: #fff;
  --color-grey: #666;
  --color-grey-box: rgba(233, 233, 233, 0.501961);
  --color-primary: #dc3639;
  --color-map-red: #cf2a2d;
  --color-map-red-dark: #9b0e12;

  --color-scrollbar: #888;
}

small {
  display: inline-block;
  line-height: 1.4;
  opacity: 0.8;
}

body {
  margin: 0;
}
